<header class="header-principal">
    <h2 class="logo">Sistema Financeiro</h2>
    
    <div class="fundo-estrelas">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </div>

    <nav class="radio-inputs">
    <a href="../cadastro-renda/index.html" class="radio-btn ">Cadastrar Renda</a>
    <a href="../listagem-renda-userid/index.html" class="radio-btn ">Ver Rendas</a>
    <a href="../cadastro-gasto/index.html" class="radio-btn ">Cadastrar Gasto</a>
    <a href="../listagem-gasto-userid/index.html" class="radio-btn ">Ver Gastos</a>
    </nav>
</header>